<!DOCTYPE html>
<html>
<head>
<title>Exemplo de Pesquisa Programável</title>
<!-- Coloque o seguinte javascript antes da tag de fechamento </head> -->
<!-- Substitua 123456 pelo seu próprio ID do Mecanismo de Pesquisa Programável. -->
<script async src="https://cse.google.com/cse.js?cx=e2cb80e6513a84f36"></script>
</head>
<body>

<h1>Minha Página com Pesquisa</h1>

<!-- Coloque esta tag onde você deseja que a caixa de pesquisa e os resultados da pesquisa sejam renderizados -->
<div class="gcse-search"></div>

</body>
</html>