#home{
    width: 100%;
    height: 100%;
    max-width: 800px;
}
#head, .line{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
}
#head > div, .line > div{
    width: 100px;
    padding-left: 2px;
    padding-right: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.line-link{
    width: calc(100% - 400px) !important;
}
.line-link-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.line .line-link{
    display: block;
    color: blue;
    text-decoration: underline;
}
#home .execute-group{
    width: fit-content;
    display: flex;
    justify-content: center;
}
#home .label{
    margin-right: 5px;
}